---
layout: default
---
	

<!--DIY Comments-->
<!--
  {% if page.comments_id %}
    {% include comments.html issue_id=page.comments_id %}
  {% endif %}
--> 

<article>
  {% include meta.html post=page %}
  {{ content }}

  {% if page.comments != false and site.comments.isso or site.comments.disqus %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
	
</article>

<!--Utteranc.es Comments-->
<script src="https://utteranc.es/client.js"
        repo="soowansjournal/soowansjournal.github.io"
        issue-term="title"
        label="Comments"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>


